
<div class="wrapper"></div>
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/phone-cover (1).jpg');">
    <div class="filter"></div>
  </div>

<div class="container">
  <br>
  <br>
    <div class="row">
      <div *ngFor="let product of products; let productId=index" class="col-sm">
          <a [routerLink]="[productId]">　<!--product.moduleを利用する時はスラッシュは不要-->
            <div class="card" >
                <img src="{{product.coverimage}} " class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">
                    {{product.description}}</p>
                </div>
            </div>
          </a>
        </div>
    </div>
  </div>


<!--
  aタグ…リンクに下線がつく、リンクに飛ぶ
-->

